<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>campus</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/home.css">
  <link href="script.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 position-fixed">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white bg-warning " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admission">Admission</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Academics
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/faculty">faculty</a></li>
              <li><a class="dropdown-item" href="/results">results</a></li>
              <li><a class="dropdown-item" href="/transports">transports</a></li>
            </ul>
          </li>
          <br>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Campus
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/campus">campus</a></li>
              <li><a class="dropdown-item" href="/culturals">culturals</a></li>
              <li><a class="dropdown-item" href="/events">events  </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact us</a>
          </li>
        </ul>
        <form class="d-flex me-5">
          <button class="btn"><a href="/login"> Admin</a></button>
        </form>
      </div>
    </div>
  </nav>
    <br>
    <br>
    <h1 class="visit">Visit Our Campus</h1>
    <div class="nature">
        <img src="/static/photo/san png1.png" alt="sanpng1" class="img1">
        <img src="/static/photo/san png 2.png" alt="sanpng2" class="img2">
    </div>
    <div class="nature-text">
        <h1>EXPERIENCE THE SAN NATURE</h1>
        <br>
        <H4>San College of Arts and Science is surrounded by a beautiful natural environment that is both serene and inspiring. 
          The campus is located in a lush green area, surrounded by trees.The air is fresh and
           clean, and the sounds of birds and other wildlife can be heard throughout the day.</H4>
    </div>
    <div class="canteen">
        <img src="/static/photo/pexels-igor-starkov-914388.jpg" alt="canteen1" class="canteen1">
        <img src="/static/photo/pexels-anna-tukhfatullina-food-photographerstylist-2551794.jpg" alt="canteen3" class="canteen3">
         <img src="/static/photo/pexels-fausto-hernández-12276364.jpg" alt="canteen2" class="canteen2">
    </div>
    <div class="canteen-text">
        <h1>CAFETERIA</h1>
        <br>
        <H4>San College of Arts and Science has a spacious and well-equipped cafeteria that provides students 
          with a wide range of food and beverage options. 
          The cafeteria offers a clean and hygienic environment for students to relax and enjoy their meals. </H4>
    </div>
    <div class="library">
        <img src="/static/photo/library.png" alt="library1" class="library1">
    </div>
    <div class="library-text">
        <h1>LIBRARY</h1>
        <br>
        <H4>San College of Arts and Science has a well-stocked library that provides students with a wide range of books, 
          journals, and other resources related to their academic pursuits. The library is spacious, 
          air-conditioned, and provides a quiet and conducive environment for study and research. </H4>
    </div>
    <div class="hostel">
        <img src="/static/photo/hostel.png" alt="hostel" class="hostel">
    </div>
    <div class="hostel-text">
        <h1>HOUSING AND RESIDENCE</h1>
        <br>
        <H4>San College of Arts and Science provides hostel and residence facilities for students who require accommodation during their academic pursuits. 
          The hostel is located on campus and provides students with a safe and comfortable environment to live in.</H4>
    </div>
    <br>
    <footer>
      <div class="container">
        <div class="footer-row">
          <div class="col-lg-4">
            <h4>Contact Us</h4>
            <p>SANICAS</p>
            <p>NAVAKKARAI</p>
            <p>COIMBATORE</p>
            <p>Phone:9237486234</p>
            <p>Email: sanbschool@gmail.com</p>
          </div>
          <div class="col-lg-4">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="/faculty">Admissions</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/campus">Campus Life</a></li>
              <li><a href="/contactus">contact</a></li>
  
            </ul>
          </div>
          <div class="col-lg-4">
            <h4>Follow Us</h4>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/saninstitutions/"><i class="bi-facebook"></i></a></li>
              <li><a href="https://twitter.com/i/flow/login"><i class="bi-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/san_cas_/"><i class="bi-instagram"></i></a></li>
              <li><a href="#"><i class="bi-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright &copy; GUNA. All rights reserved.</p>
      </div>
    </footer>
</body>
</html>