<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/home.css">
  <link href="script.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 position-fixed">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white bg-warning " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admission">Admission</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Academics
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/faculty">faculty</a></li>
              <li><a class="dropdown-item" href="/results">results</a></li>
              <li><a class="dropdown-item" href="/transports">transports</a></li>
            </ul>
          </li>
          <br>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Campus
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/campus">campus</a></li>
              <li><a class="dropdown-item" href="/culturals">culturals</a></li>
              <li><a class="dropdown-item" href="/events">events  </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contactus">Contact us</a>
          </li>
        </ul>
        <form class="d-flex me-5">
          <button class="btn"><a href="/login"> Admin</a></button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <section class="intro">
    <div class="san-title">
    <div class="san-logo">
      <img src="/static/photo/sanlogo.jpg" alt="">
    </div>
    <div class="intro-text">
      <h1>SAN COLLEGE OF ARTS AND SCIENCE</h1>
      <h6 >Any prominent career starts with good education.
        Together with us, will
        have an opportunity of getting better and deeper
        knowledge of the subjects that can build your future.
      </h6>
    </div>
  </div>
  
    <div class="adm">
      <h1><a href="adm_portal.html">ADMISSION</a></h1>
    </div>
  </section>

  <h1 class="why">
    WHY SAN ?
  </h1>
  <section class="features">
    <div class="feature-row">
      <div class="feature-col">
        <img src="/static/photo/IMG-20220620-WA0005.jpg" alt="">
        <h1>Natural Environment</h1>
        <p>San College of Arts and Science is surrounded by a beautiful natural environment that is both serene and inspiring. 
          The campus is located in a lush green area, surrounded by trees.The air is fresh and
           clean, and the sounds of birds and other wildlife can be heard throughout the day. 
          The natural environment provides a peaceful and calming atmosphere for students to learn, study, and relax in.</p>
      </div>
      <div class="feature-col">
        <img src="https://exambazaar-2020.s3.amazonaws.com/7840163a82fdf16df256e63fdcbdff21.JPG" alt="">
        <h1>Cultural<br>Events</h1>
        <p>College of Arts and Science hosts a variety of cultural events throughout the year,
           providing students with opportunities to explore and celebrate different culturesfestivals and 
           celebrations for cultural holidays such as Diwali, Eid, Christmas, and Chinese New Year. 
          These events help to foster a sense of community and diversity on campus, 
          and encourage students to appreciate and respect different cultures.</p>
      </div>
      <div class="feature-col">
        <img src="https://www.ghsimr.ac.in/wp-content/uploads/2022/09/WhatsApp-Image-2022-09-10-at-4.15.39-PM.jpeg" alt="">
        <h1>Industrial<br>Visits</h1>
        <p>San College of Arts and Science offers industrial visits to provide students with 
          practical exposure to various industries. These visits are designed to help students 
          understand the workings of the industry, gain insights into the processes involved, 
          and witness real-world applications of theoretical concepts. The college collaborates with 
          leading organizations in various sectors, 
          such as manufacturing, technology, hospitality, and healthcare, to organize these visits. </p>
      </div>
    </div>
    <br><br>
    <div class="feature-row">
      <div class="feature-col">
        <img src="https://st1.latestly.com/wp-content/uploads/2022/09/D5432493-BFF4-4842-A690-A3E33932BCB9-380x214.jpeg" alt="">
        <h1>NSS</h1>
        <p>San College of Arts and Science has a National Service Scheme (NSS) unit that offers students opportunities 
          to engage in community service and social activities. The NSS unit aims to develop the personality of students 
          through community service and encourages them to participate in social welfare activities. 
          The unit provides a platform for students to develop leadership skills, teamwork, and social responsibility.</p>
      </div>
      <div class="feature-col">
        <img src="/static/photo/sports/IMG-20221023-WA0033.jpg" alt="">
        <h1>Sports</h1>
        <p>San College of Arts and Science offers a range of sports facilities to promote physical fitness 
          and wellness among students. The college has a well-equipped sports complex with facilities for indoor 
          and outdoor sports such as basketball, football, cricket, badminton, table tennis, and volleyball. 
          The college also has a gymnasium with modern equipment 
          and trained instructors to assist students with their fitness goals.</p>
      </div>
      <div class="feature-col">
        <img src="/static/photo/download (2).jpeg" alt="">
        <h1>Transports</h1>
        <p>San College of Arts and Science provides bus transport facilities for students who commute to and from the college. 
          The college has a fleet of buses that covers various routes across the city, making it easier for students to travel 
          to the college from different locations. The buses are well-maintained and equipped with modern 
          amenities such as GPS tracking and CCTV cameras to ensure the safety of the students.</p>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <h1 class="location">LOCATE OUR CAMPUS</h1>
  <section class="san-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3714259357116!2d76.84803541433733!3d10.8593285606285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba84311b161b2eb%3A0x15325ab3da36add4!2sSAN%20Group%20of%20Institutions!5e0!3m2!1sen!2sin!4v1676107944049!5m2!1sen!2sin" width="600" height="450" style="border:0;" 
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <footer>
    <div class="container">
      <div class="footer-row">
        <div class="col-lg-4">
          <h4>Contact Us</h4>
          <p>SANICAS</p>
          <p>NAVAKKARAI</p>
          <p>COIMBATORE</p>
          <p>Phone:9237486234</p>
          <p>Email: sanbschool@gmail.com</p>
        </div>
        <div class="col-lg-4">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/faculty">Admissions</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/campus">Campus Life</a></li>
            <li><a href="/contactus">contact</a></li>

          </ul>
        </div>
        <div class="col-lg-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/saninstitutions/"><i class="bi-facebook"></i></a></li>
            <li><a href="https://twitter.com/i/flow/login"><i class="bi-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/san_cas_/"><i class="bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright &copy; GUNA. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>